* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: rgb(68, 68, 68);
}

table {
    border-spacing: 0px;
    width: 99vw;
    height: 100vh;
}

td {
    width: 15vw;
}

video {
    width: 100%;
}
